{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% block styles %} {% endblock %}
</head>
{% block content %}
    <h1>User Profile</h1>
    {% if is_editing %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="save">Save</button>
            <a href="{% url 'user_management:profile_update' username=profile.user.username %}"><button type="button">Cancel</button></a>
        </form>
    {% else %}
        <p><strong>Display Name:</strong> {{ profile.display_name }}</p>
        <p><strong>Email:</strong> {{ profile.email }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="edit">Edit Profile</button>
        </form>
    {% endif %}
{% endblock %}
