{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ commission.title }}</title>
    {% block styles %} {% endblock %}
</head>
{% block content %}
    <h1>{{ commission.title }}</h1>
    <p><strong>Status:</strong> {{ commission.status }}</p>
    <p><strong>Description:</strong> {{ commission.description }}</p>
    <p><strong>Author:</strong> {{ commission.author }}</p>
    <p><strong>Created On:</strong> {{ commission.created_on }}</p>
    <p><strong>Last Updated:</strong> {{ commission.updated_on }}</p>

    <h2>Jobs</h2>
    <ul>
        {% for job in jobs %}
            <li>
                <strong>{{ job.role }}</strong><br>
                Status: {{ job.status }}<br>
                Manpower Required: {{ job.manpower_required }}<br>

                {% if user.is_authenticated %}
                    {% if job.status == 'Full' or job.accepted_count >= job.manpower_required %}
                        <button disabled>Full</button>
                    {% else %}
                        <form method="post" action="{% url 'commissions:commissions_detail' commission.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="job_id" value="{{ job.id }}">
                            <button type="submit">Apply to Job</button>
                        </form>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    <p><strong>Manpower Required:</strong> {{ total_manpower }}</p>
    <p><strong>Open Manpower:</strong> {{ open_manpower }}</p>

    {% if user == commission.author.user %}
        <a href="{% url 'commissions:commissions_update' commission.id %}">Edit Commission</a>
    {% endif %}
<p></p>
<a href="{% url 'commissions:index' %}">
    <button type="button">Back to List</button>
</a>
{% endblock %}
