{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commissions</title>
    {% block styles %} {% endblock %}
</head>
{% block content %}
    <h1>Commissions</h1>
    {% if user.is_authenticated %}
        <h3>Your Commissions</h3>
        <ul>
            {% for commission in user_commissions %}
                <li>
                    <a href="{{ commission.get_absolute_url }}">{{ commission.title }}</a>
                    (Status: {{ commission.status }}, Created: {{ commission.created_on|date:"Y-m-d" }})
                </li>
            {% empty %}
                <li>You haven't created any commissions.</li>
            {% endfor %}
        </ul>
        <h3>Applied Commissions</h3>
        <ul>
            {% for commission in applied_commissions %}
                <li>
                    <a href="{{ commission.get_absolute_url }}">{{ commission.title }}</a>
                    (Status: {{ commission.status }}, Created: {{ commission.created_on|date:"Y-m-d" }})
                </li>
            {% empty %}
                <li>You haven't applied to any jobs yet.</li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'commissions:commissions_create' %}">New Commission</a></p>
    {% endif %}
    <h2>All Commissions</h2>
    <ul>
        {% for commission in commissions %}
            <li>
                <a href="{{ commission.get_absolute_url }}">{{ commission.title }}</a>
                (Status: {{ commission.status }}, Created: {{ commission.created_on|date:"Y-m-d" }})
            </li>
        {% empty %}
            <li>No commissions available.</li>
        {% endfor %}
    </ul>
{% endblock %}
