{% extends "base.html" %}

<head>
    {% block styles %}
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    {% endblock %}
</head>

{% block content %}
    <h1>{{category}}</h1>

    {% for thread in threads %}

    <table>
        <thead>
            <th colspan="2">{{thread.title}}</th>
        </thead>
        <tbody>
            <tr>
                <td>Created on: {{thread.created_on}}</td>
                <td>Last Updated: {{thread.updated_on}}</td>
            </tr>
            <tr>
                <td colspan="2">{{thread.entry}}</td>
            </tr>
        </tbody>
    </table>

    <br>

    {% endfor %}

{% endblock %}