{% extends "base.html" %}

<head>
    {% block styles %} 
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    {% endblock %}
</head>

{% block content %}
    <h1>Threads</h1>

    {% for category in threadcategories %}
    <h2>{{ category.name }}</h2>
    <ul>
        {% for thread in threads %}
            {% if thread.category == category %}
                <li><a href="{% url 'forum:thread_detail' thread.id %}">{{ thread.title }}</a></li>
            {% endif %}
        {% empty %}
            <li>No threads available.</li>
         {% endfor %}
    </ul>
    {% endfor %}


{% endblock %}