{% extends "base.html" %}

<head>
    {% block styles %}
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    {% endblock %}
</head>

{% block content %}
    <h1>{{ thread.title }}</h1>
    <p><strong>Author:</strong> {{ thread.author.user.username }}</p>
    <p><strong>Category:</strong> {{ thread.category.name }}</p>

    <div>
        <p>{{ thread.entry|linebreaks }}</p>
    </div>

    <p><a href="{% url 'forum:index' %}">Back to Threads</a></p>

{% endblock %}