{% extends "base.html" %}

<head>
    {% block styles %} 
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    {% endblock %}
</head>

{% block content %}
    <h1>Threads</h1>

    {% if user_threads %}
    <h2>Your Threads</h2>
    <ul>
        {% for thread in user_threads %}
        <li><a href="{% url 'forum:thread_detail' thread.id %}">{{ thread.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>All Threads</h2>

    {% for category in threadcategories %}
        <h3>{{ category.name }}</h3>
        <ul>
        {% for thread in all_threads %}
            {% if thread.category == category %}
            <li><a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}