{% extends "base.html" %}

<head>
    {% block styles %} 
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    {% endblock %}
</head>

{% block content %}
    <h1>Threads</h1>

    <table>
        <thead>
           <tr>
                <th>Thread</th>
                <th>Description</th>
            </tr> 
        </thead>
        {% for category in postcategories %}
        <tr>
            <td><a href="{{category.get_absolute_url}}">{{category.name}}</a></td>
            <td>{{category.description}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}