{% extends "base.html" %}

<head>
    {% block styles %}
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    {% endblock %}
</head>

{% block content %}
    <h1>{{ thread.title }}</h1>
    <p><strong>Author:</strong> {{ thread.author.user.username }}</p>
    <p><strong>Category:</strong> {{ thread.category.name }}</p>

    <div>
        <p>{{ thread.entry|linebreaks }}</p>
    </div>

    <h3>Comments</h3>

    <div>
    {% if comments %}
    <ul>
        {% for comment in comments %}
        <li>
            <strong>{{ comment.author.display_name|default:comment.author.user.username }}</strong>
            <i>{{ comment.created_on|date:"F j, Y, g:i a" }}</i><br>
            {{ comment.entry|linebreaks }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No comments yet.</p>
    {% endif %}
    </div>

    <div>
    {% if other_threads %}
    <h3>Related Threads:</h3>
    <ul>
        {% for thread in other_threads %}
        <li><a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No related threads found.</p>
    {% endif %}
    </div>


    <p><a href="{% url 'forum:index' %}">Back to Threads</a></p>

{% endblock %}