{% extends 'base.html' %}

    <head>
        {% block styles %} 
        <style>
            .article-list-head {
                padding-right: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .main-container {
                padding: 4vh 8vw;
            }
            .block {
                padding-left: 4vw;
            }
        </style>
        {% endblock %}
    </head>
    {% block content %}
        <div class="main-container">
            <div class="article-list-head">
                <h1>Wiki</h1>
                <a href="{% url 'wiki:article_create' %}"><button>Create an article</button></a>
            </div>
            {% if user_articles %}
                <h2>Your Articles</h2>
                <div class="block"><div class="block">
                    {% for user_article in user_articles %}
                        <a href="{{user_article.get_absolute_url}}"><h4>{{user_article.title}}</h4></a>
                    {% endfor %}
                </div></div>
            {% endif %}
            <h2>All Articles</h2>
            <div class="block">
                {% for category in articles_categorized %}
                    <h3>{{category.category_name}}</h3>
                    <p>{{category.category_description}}</p>
                    <div class="block">
                        {% for article in category.articles %}
                            <a href="{{article.get_absolute_url}}"><h4>{{article.title}}</h4></a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}