<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="Width=device-width, initial-scale=1" />
        <title>{% block title %}Title{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>HOBBYSITE</h1>
            {% if request.resolver_match.url_name != 'home' %}
                <div class="nav-buttons">
                <a href="{% url 'home' %}"><button>Home</button></a>
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                    <a href="profile/{{user.username}}"><button>Profile</button></a>
                {% else %}
                    <a href="{% url 'login' %}"><button>Login</button></a>
                {% endif %}
                    <a href="{% url 'blog:index' %}"><button>Blogs</button></a>
                    <a href="{% url 'commissions:index' %}"><button>Commissions</button></a>
                    <a href="{% url 'forum:index' %}"><button>Forums</button></a>
                    <a href="{% url 'merchstore:index'%}"><button>Merchandise</button></a>
                    <a href="{% url 'wiki:index' %}"><button>Wiki</button></a>
                </div>
            {% endif %}
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
