{% extends 'base.html' %}

{% block content %}
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: PHP{{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>

        {% if disable_buy_button %}
                <button type="button" disabled>Out of Stock</button>
        {% else %}
                {% if not is_owner %}
                        <form method="post">
                                {% csrf_token %}
                                {{ transaction_form.as_p }}
                                <button type="submit">Buy</button>
                        </form>
                {% else %}
                        <p>You cannot purchase your own product.</p>
                {% endif %}
        {% endif %}

        {% if is_owner %}
                <a href="{% url 'merchstore:product-edit' pk=product.pk %}">Update Product</a>
        {% endif %}
{% endblock %}
